Repository SkillsFundingAgency/DC-ILR-2021-Tools: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.legacy.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines.legacy.yml: any of: legacy, azure-pipelines.legacy.yml, but not: src
  azure-pipelines.yml: any of: src, azure-pipelines.yml, but not: legacy

Update Builds.
  GenerateZipFilename.ps1
  azure-pipelines.legacy.yml
  azure-pipelines.yml
  xenerateZipFilename.ps1
Due: azure-pipelines.legacy.yml, azure-pipelines.yml

update build
  azure-pipelines.legacy.yml
  azure-pipelines.yml
  xenerateZipFilename.ps1
Due: azure-pipelines.legacy.yml, azure-pipelines.yml

Add BuildConfiguration Paramater
  azure-pipelines.legacy.yml
  azure-pipelines.yml
Due: azure-pipelines.legacy.yml, azure-pipelines.yml

yml update
  azure-pipelines.legacy.yml
  azure-pipelines.yml
Due: azure-pipelines.legacy.yml, azure-pipelines.yml

fix path
  azure-pipelines.legacy.yml
Due: azure-pipelines.legacy.yml

yml updates
  azure-pipelines.legacy.yml
  azure-pipelines.yml
Due: azure-pipelines.legacy.yml, azure-pipelines.yml

Build Updates
  azure-pipelines.legacy.yml
  azure-pipelines.yml
Due: azure-pipelines.legacy.yml, azure-pipelines.yml

typo fix
  azure-pipelines.legacy.yml
Due: azure-pipelines.legacy.yml

build
  azure-pipelines.legacy.yml
Due: azure-pipelines.legacy.yml

build update
  azure-pipelines.legacy.yml
Due: azure-pipelines.legacy.yml

ad file to code sign
  azure-pipelines.legacy.yml
Due: azure-pipelines.legacy.yml

Update Build
  azure-pipelines.yml
Due: azure-pipelines.yml

added history changes
  legacy/src/Easy OPA/Shell/Assets/2021/Production/Reference/InsertCalculationReferenceData_PostVal_HubOnly.sql
  legacy/src/Easy OPA/Shell/Assets/2021/Production/Reference/InsertOtherReferenceData_PostVal_HubOnly.sql
Due: azure-pipelines.legacy.yml

updated fm25
  legacy/src/Easy OPA/Shell/Assets/2021/Production/Rulebases/FM25/FM25 Funding Calc 20_21.zip
  legacy/src/Easy OPA/Shell/Assets/2021/Production/Schema/Rulebase/03 Procedures/AEC_StoredProcedures.sql
Due: azure-pipelines.legacy.yml

added missing UKPRN filter
  legacy/src/Easy OPA/Shell/Assets/2021/Production/Schema/Rulebase/03 Procedures/AEC_StoredProcedures.sql
Due: azure-pipelines.legacy.yml

Updated README.md
  README.md
Due: none
